@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
*{
    font-family: 'Varela Round', sans-serif;
}
body{
    background-color: #35363A;
}

/* CONTENEDOR AÑADIR TAREA */
.añadirTareaForm{
    background-color: antiquewhite;
    padding: 20px;
    margin: 5px;
    border-radius: 20px;
    display: flex;        
    justify-content: center;
}
#descripcionTarea{
    resize: none;
}
#btnAñadirTarea{
    border-radius: 7px;
    margin-top: 15px;
}
h2{
    margin-left: 15px;
    margin-bottom: 2px;
    color: white;
}

/* CONTENEDOR LISTA DE TAREAS */
hr{
    display: none;
    background-color: #23948C;
    height: 10px;
    border: 0px;
    border-radius: 5px;
}