h1 {
    color: red;
}
.tituloTabla{
    font-size: large;
    color: green;
}
th{
  margin: 50px;
  border: 4px solid;
  padding: 10px;  
  text-align: justify;
}
.filaBotones{
    border: none;
    text-align: left;
}
