@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
*{
    font-family: 'Varela Round', sans-serif;
}
body{
    background-color: #35363A;
}

/* CONTENEDOR AÑADIR TAREA */
.añadirTareaForm{
    background-color: antiquewhite;
    padding: 20px;
    margin: 5px;
    border-radius: 20px;
    display: flex;        
    justify-content: center;
}
#descripcionTarea{
    resize: none;
}
#btnAñadirTarea{
    border-radius: 7px;
    margin-top: 15px;
}
h2{
    margin-left: 15px;
    margin-bottom: 2px;
    color: white;
    font-size: 30px;
}

/* CONTENEDOR LISTA DE TAREAS */
.listas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
}
h3{
    color: aliceblue;
    text-align: center;
    margin-bottom: 2px;
}
.lista{
    height: 100px;
    width: 280px;
}
.tarea{
    background-color: green;
    border-radius: 5px;
    display: none;
}
.contenedorTareas{
    background-color: cadetblue;
    padding: 15px;
    padding-left: 5px;
    padding-right: 5px;
    height: max-content;
    border-radius: 10px;
}
.imagenes{
    display: flex;
    flex-direction: column;
    float: right;
}
img{
    width: 20px;
    height: 20px;
    padding: 5px;
}
.imagenes > button{
    border-radius: 0px 20px 20px 0px;
    width: max-content;
    height: max-content;
    margin-top: 5px;
}
